spacy~=2.3.2
spacy-lookups-data
tika
newspaper3k
wordcloud~=1.8.0
langdetect~=1.0.8
bs4~=0.0.1
requests 
lxml 
pandas~=1.1.2
selenium~=3.141.0
stop-words
nltk~=3.5
matplotlib~=3.3.2
numpy~=1.19.2
seaborn~=0.11.0
pytz~=2020.1
beautifulsoup4~=4.9.2
textblob
textatistic
wordsegment